button.navbar-padding {
  margin-top: 8px;
}

a.navbar-padding {
  margin-top: 8px;
}

div.navbar-padding {
  margin-top: 15px;
}

.timeselect{
  margin-bottom: 25px;
}

input[type="range"] {
  height: 175px;
  width: 20px;
}
